* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --Font-text: "Zilla Slab", serif;
  --Font-title: "Asap Condensed", sans-serif;
  --box: #595959;
  --background: #020000;
  --card: #17141d;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap");

/* NAVBAR */
.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  top: 0%;
  z-index: 9;
  background: rgb(98, 98, 98);
  background: linear-gradient(
    90deg,
    rgba(98, 98, 98, 1) 35%,
    rgba(43, 43, 43, 1) 58%,
    rgba(0, 0, 0, 1) 88%
  );
  border-bottom: 2px solid rgba(240, 240, 245, 0.488);
}
.navbar ul {
  display: flex;
  gap: 80px;
}
.header img {
  width: 120px;
  height: 120px;
  margin: 10px 0px 10px 0px;
  border-radius: 50%;
  -webkit-border-radius: 50%; /*Safari y Chrome*/
  -moz-border-radius: 50%; /*Firefox*/
  -o-border-radius: 50%; /*Opera*/
  -ms-border-radius: 50%; /*IE 8*/
}
.navbar {
  display: flex;
}

#menu-toggle {
  display: none;
}
.navbar-link {
  color: yellow;
  font-weight: 600;
}
.navbar a {
  background-color: rgba(240, 240, 245, 0.488);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 13x;
}
.navbar a:hover {
  background: none;
  transition: 0.5s;
}
.bars-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.bars-menu span {
  height: 1.5px;
  width: 30px;
  background: pink;
  transition: transform 0.8;
  display: none;
}
#menu-toggle:checked ~ .bars-menu span:first-child {
  position: absolute;
  top: 0;
  transform: rotate(135deg);
}
#menu-toggle:checked ~ .bars-menu span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked ~ .bars-menu span:last-child {
  position: absolute;
  top: 0;
  transform: rotate(225deg);
}
@media (max-width: 600px) {
  .navbar ul {
    background: blue;
    width: 100%;
    position: absolute;
    height: calc(100vh- 100px);
    top: 80px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
    transform: translateX(200%);
    transition: all 0.4s ease;
  }
  .bars-menu span {
    display: block;
  }
  #menu-toggle:checked ~ .navbarlist {
    /* display: flex; */
    transform: translateX(0);
  }
}
/* SECTION-HERO */

.section-hero {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.hero-img img {
  width: 24rem;
  height: 17em;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em; /*Safari y Chrome*/
  -moz-border-radius: 0.2em; /*Firefox*/
  -o-border-radius: 0.2em; /*Opera*/
  -ms-border-radius: 0.2em; /*IE 8*/
}

.hero-text {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.line-efect {
  font-weight: 600;
  text-align: center;
  font-size: 28px;
  font-family: var(--Font-text);
  display: inline-block;
  position: relative;
}
.line-efect::before,
.line-efect::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: white;
  top: 1.1rem;
}
.line-efect::before {
  left: -45px;
}
.line-efect::after {
  right: -45px;
}
.hero-text h2 {
  font-family: var(--Font-text);
  font-size: 40px;
  font-weight: 200;
}
.hero-text p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-top: 10px;
}

.hero-text a {
  background-color: var(--box);
  color: white;
  border-radius: 5%;
  -webkit-border-radius: 5%; /*Safari y Chrome*/
  -moz-border-radius: 5%; /*Firefox*/
  -o-border-radius: 5%; /*Opera*/
  -ms-border-radius: 5%; /*IE 8*/
  padding: 1rem 1rem;
  margin: 20px;
}
.hero-text a:hover,
.hero-text h2:hover {
  background-color: gold;
  color: black;
  transition: 0.5s;
}

/* ABOUT US */

.section-about-us {
  padding: 6% 0;
  height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

.container-text-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: #ffffffe5;
  margin-bottom: 50px;
  gap: 40px;
  text-align: center;
}

.container-text-about h1 {
  font-family: var(--Font-title);
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 10px;
  text-shadow: -2px 2px 6px rgba(255, 255, 255, 0.404);
}

.container-text-about p {
  font-family: var(--Font-text);
  font-size: 30px;
}
.icons-about {
  color: white;
}
.icons-about ul {
  display: flex;
  flex-direction: row;
}
.icons-about ul li {
  font-size: 20px;
  font-weight: 100;
  margin: 0 30px 0 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(240, 240, 245);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px; /*Safari y Chrome*/
  -moz-border-radius: 10px; /*Firefox*/
  -o-border-radius: 10px; /*Opera*/
  -ms-border-radius: 10px; /*IE 8*/
  color: black;
}
.icons-about ul li i {
  margin-right: 20px;
}
.icons-about ul li:hover {
  transition: 0.5s;
  background: gold;
}

/* CARDS */

.container-card {
  width: 100%;
  height: 50rem;
  background: var(--background);
  top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  height: 380px;
  width: 300px;
  background: var(--card);
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #4e4d4d15;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 600;
  font-family: var(--Font-title);
  position: absolute;
  left: 20px;
  top: 25px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: var(--box);
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 183, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 154, 217, 1) 0%,
    rgba(217, 147, 0, 1) 65%,
    rgba(255, 186, 0, 1) 100%
  );
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 150px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  transition: 0.6s ease-out;
}

svg {
  fill: var(--card);
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
.btn {
  text-align: center;
  margin-bottom: 20px;
}
.btn a {
  background-color: var(--box);
  color: white;
  border-radius: 5%;
  -webkit-border-radius: 5%; /*Safari y Chrome*/
  -moz-border-radius: 5%; /*Firefox*/
  -o-border-radius: 5%; /*Opera*/
  -ms-border-radius: 5%; /*IE 8*/
  padding: 0.5rem;
}
.btn a:hover {
  background-color: gold;
  color: black;
  transition: 0.5s;
}
/* FORM-CONSULT */
.consult-form {
  height: 50rem;
  width: 100%;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50%;
}

.form {
  width: 400px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background: var(--box);
  box-shadow: 0 15px 25px rgba(255, 255, 255, 0.101);
  border-radius: 10px;
  -webkit-border-radius: 10px; /*Safari y Chrome*/
  -moz-border-radius: 10px; /*Firefox*/
  -o-border-radius: 10px; /*Opera*/
  -ms-border-radius: 10px; /*IE 8*/
  margin-left: 25%;
}

.form .name,
.form .surname,
.form .email,
.form .number {
  width: 100%;
  text-align: center;
  position: relative;
}

.name::before,
.surname::before {
  content: "\f007";
}

.email::before {
  content: "\f2b6";
}

.number::before {
  content: "\f098";
}

.form .name::before,
.form .surname::before,
.form .email::before,
.form .number::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 13px;
  left: 35px;
  top: 11px;
  z-index: 1;
  color: #000000;
}

.form div input {
  width: 85%;
  padding: 10px 10px 10px 30px;
  position: relative;
  font-weight: bold;
  caret-color: rgb(255, 2, 2);
  outline: none;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(252, 254, 255);
  transition: 0.3s ease-in-out;
}

.form div input:focus {
  border-bottom: 2px solid black;
}

.form button {
  background-color: var(--background);
  color: white;
  border-radius: 5%;
  -webkit-border-radius: 5%; /*Safari y Chrome*/
  -moz-border-radius: 5%; /*Firefox*/
  -o-border-radius: 5%; /*Opera*/
  -ms-border-radius: 5%; /*IE 8*/
  padding: 1rem 1rem;
  border: none;
}
.form button:hover {
  background-color: gold;
  scale: 125%;
  color: black;
  transition: 0.01;
}

.details-payments {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.line-efect2 {
  font-family: var(--Font-title);
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
}
.line-efect2::before,
.line-efect2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1.5px;
  background-color: white;
}
.line-efect2::before {
  top: 15px;
  left: -35px;
}
.line-efect2::after {
  top: 15px;
  right: -35px;
}
.details-pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.details-pay ul li {
  list-style: disc;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}
.details-pay p {
  font-family: var(--cardletter);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.map {
  margin-top: 50px;
}
/* SECTION-DETAILS */
.details-section {
  color: white;
  width: 100%;
  height: 45rem;
  background-color: black;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}
.contacto-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
}

.contacto-container p {
  display: flex;
  padding: 30px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  font-family: var(--font-cormorant);
}

.icons-texto {
  font-size: 30px;
  color: var(--colornav);
}
/* FOOTER */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(98, 98, 98);
  background: linear-gradient(
    90deg,
    rgba(98, 98, 98, 1) 35%,
    rgba(43, 43, 43, 1) 58%,
    rgba(0, 0, 0, 1) 88%
  );
  padding: 10px;
  height: 6rem;
}
.extra-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.footer-arrow a {
  font-size: 20px;
  color: black;
  background-color: white;
  border: 1px solid white;
  padding: 2px;
  width: 8px;
  height: 10px;
}
.p {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: var(--cardletter);
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}

.icons-footer {
  margin-top: 15px;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons-footer a {
  color: #01080c;
}

.icons-footer i {
  margin: 0px 10px;
  font-size: 2em;
  color: #ffffff;
  border-radius: 60px;
}

#fb-footer:hover {
  color: #3b5998;
  transform: scale(1.3);
  transition: all 0.3s linear;
}

#ig-footer:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.3);
  transition: all 0.3s linear;
}

#in-footer:hover {
  color: #8faff6;
  transform: scale(1.3);
  transition: all 0.3s linear;
}

#git-footer:hover {
  color: #1b1f23;
  transform: scale(1.3);
  transition: all 0.3s linear;
}
.copyrigth {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}
/* WPP  */
.wpp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.wpp:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}
