@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Edu+QLD+Beginner:wght@600&family=Edu+TAS+Beginner:wght@500;600&family=Ibarra+Real+Nova&family=Lobster+Two&family=Shadows+Into+Light&display=swap");

:root {
  --color: #ffffff;
  --box: rgba(90, 32, 32, 0.444);
  --fontfull: "Ibarra Real Nova";
  --font-titlelogin: "Cormorant SC";
  --heroletter: "Square Peg", cursive;
  --cardletter: "Edu VIC WA NT Beginner", cursive;
  --colornav: #100f43;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontfull);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #313131;
}

::-webkit-scrollbar-thumb {
  background: var(--color);
}

body {
  background-color: #000000;
}
.back {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    rgba(83, 9, 9, 1) 0%,
    rgba(69, 9, 9, 1) 57%
  );
  position: absolute;
}
.cubic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cubic li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: spin 5s linear infinite;
  bottom: -150px;
}
.cubic li:nth-child(1) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
}
.cubic li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.cubic li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.cubic li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.cubic li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.cubic li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.cubic li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.cubic li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.cubic li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.cubic li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  width: 400px;
  margin: 0px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background: var(--box);
  box-shadow: 0 15px 25px rgba(72, 0, 0, 0.101);
  border-radius: 10px;
  position: relative;
}

.form h1 {
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-family: var(--font-titlelogin);
}

.form .user,
.form .email,
.form .password,
.form .checkpass {
  width: 100%;
  text-align: center;
  position: relative;
}

.user::before {
  content: "\f007";
}

.email::before {
  content: "\f2b6";
}

.password::before,
.checkpass::before {
  content: "\f023";
}

.form .user::before,
.form .email::before,
.form .password::before,
.form .checkpass::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 13px;
  left: 35px;
  top: 11px;
  z-index: 1;
  color: #000000;
}

.form div input {
  width: 85%;
  padding: 10px 10px 10px 30px;
  position: relative;
  font-weight: bold;
  caret-color: rgb(95, 5, 95);
  outline: none;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(252, 254, 255);
  transition: 0.3s ease-in-out;
}

.form div input:focus {
  border-bottom: 2px solid var(--color);
}

.form button {
  width: 85%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.35s ease-in-out;
  background-color: var(--colornav);
  color: white;
  border-radius: 5%;
  -webkit-border-radius: 5%; /*Safari y Chrome*/
  -moz-border-radius: 5%; /*Firefox*/
  -o-border-radius: 5%; /*Opera*/
  -ms-border-radius: 5%; /*IE 8*/
  padding: 10px;
}

.form button::before,
.form button::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
}

.form button:before {
  top: -5px;
  left: 0;
  background-color: inherit;
  transition: 0.35s ease-in-out;
}

.form button:after {
  bottom: -5px;
  right: 0;
  background-color: inherit;
  transition: 0.35s ease-in-out;
}

.form button:hover {
  width: 90%;
  background-color: gold;
}

.form button:hover::before,
.main button:hover::after {
  width: 100%;
}

.form h5 a {
  font-size: 17px;
  color: var(--colornav);
  text-decoration: none;
  font-weight: bolder;
}

.form h5,
h4 {
  font-size: 17px;
  color: #d8e7ff;
}

.form hr {
  border-top: 2px dotted #ccc;
  width: 80%;
  margin-top: -10px;
}

.form .icons {
  display: flex;
  justify-content: space-evenly;
  gap: 35px;
}

.form .icons .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 50px;
  height: 50px;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%; /*Safari y Chrome*/
  -moz-border-radius: 50%; /*Firefox*/
  -o-border-radius: 50%; /*Opera*/
  -ms-border-radius: 50%; /*IE 8*/
  transition: 0.25s ease-in-out;
}

.form .icons .icon-container:first-child:hover {
  background-color: #3b5998;
}
.form .icons .icon-container:nth-child(2):hover {
  background-color: #5da9dd;
}
.form .icons .icon-container:last-child:hover {
  background-color: #1b1f23;
}

.form .icons .icon-container .fab {
  font-size: 20px;
  transition: 0.25s ease-in-out;
}
.form .icons .icon-container .fa-facebook-f {
  color: #3b5998;
}
.form .icons .icon-container .fa-twitter {
  color: #5da9dd;
}
.form .icons .icon-container .fa-github {
  color: #1b1f23;
}
.form .icons .icon-container:hover .fab {
  color: #fff;
  transform: scale(1.2);
}
